@charset "utf-8";
@import url("./normalize.css");
@import url("./fonts.css");

/* 초기화 스타일 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
/* 블릭기호 삭제 */
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/* 숨김 콘텐츠 */
legend,
.a11y-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
/* 기본 스타일 */
html {
  font-size: 10px;
}
body {
  background-color: #fff;
  color: #181818;
  font-size: 1.4rem;
  font-family: "Noto Sans Regular", sans-serif;
}

.btn-grid {
  position: fixed;
  top: 2em;
  right: 2em;
  background: #000;
  color: #fff;
  padding: 1em;
  border-radius: 5px;
}
/* 컨테이너 */
.container {
  /* height: 100vh;   */
  position: relative;
}
.is-act::before {
  content: "";
  position: absolute;
  width: 1000px;
  height: 100%;
  background: repeating-linear-gradient(
    90deg,
    hsla(70, 90%, 60%, 0.4) 0px,
    hsla(70, 90%, 60%, 0.4) 65px,
    transparent 65px,
    transparent 85px
  );
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
}

/* 레이아웃 공통 */
.header,
.main,
.slogan {
  width: 1000px;
  margin: 0 auto;
}
/* 헤더 */
.header {
  background-color: #fff;
  padding: 10px 0 10px 0;
  position: relative;
}
/* 로고 */
.logo {
  /* background-color: blue; */
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* 멤버 링크 */
.member {
  /* background-color: aqua; */
  text-align: right;
  font-size: 0;
  position: relative;
}
.member li {
  display: inline;
  font-size: 1.6rem;
  /* right: 10px; */
}
.member a:hover,
.member a:focus {
  color: #ff005a;
}
/* .member li::before {
  content: "|";
} */
/* .member li:first-child::before {
  content: "";
} */
.member a {
  display: inline-block;
  padding: 10px;
}

/* 검색 폼 */
.search {
  /* background-color: aqua; */
  text-align: right;
  margin-top: 15px;
}
.search fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
input[type="search"] {
  height: 30px;
  width: 420px;
  padding: 1px 15px;
  border: 1px solid #666;
  border-radius: 5px;
}
.btn-search {
  height: 30px;
  width: 50px;
  padding: 5px;
  border: 1px solid #666;
  background-color: #988574;
  color: #fff;
  border-radius: 5px;
}
/* 네비 */
.navigation {
  border-top: 2px solid #181818;
  border-bottom: 2px solid #181818;
  background-color: #988574;
  margin: 0 auto;
  padding-top: 0.5em;
}
.nav-menu {
  width: 1000px;
  margin: 0 auto;
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
}
.nav-menu span {
  display: block;
  cursor: pointer;
  font-size: 1.8rem;
  font-family: "Noto Sans Bold", sans-serif;
  padding: 0.5em 1em;
  text-shadow: 1px 1px 3px #181818;
  /* transition: all 5s ease; */
}
.nav-menu span:hover,
.nav-menu a:hover,
.nav-menu li:focus span,
.nav-menu a:focus {
  color: #ffff00;
}
.sub-menu {
  /* background-color: orangered; */
  margin-top: 0.5em;
}
.sub-menu li {
  margin: 0.5em 0 0.5em 1em;
}
.sub-menu a {
  /* background-color: skyblue; */
  display: block;
  padding: 0.3em 0;
}

/* 메인 콘텐츠 */
.main {
  /* background-color: pink; */
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(12, 65px);
  grid-template-rows: auto auto;
  grid-template-areas:
    "rb rb rb rb ns ns ns ns ns ns ns ns"
    "bd bd bd bd tr tr tr tr tr fs fs fs";
  /* display: flex;
  flex-flow: row wrap;
  justify-content: space-between; */
}

.main section {
  /* height: 30vh; */
}
/* 추천서적 */
.recommend-book {
  grid-area: rb;
  /* font-size: 16px; */
  /* background-color: teal; */
  /* float: left; */
  /* width: 350px; */
}
/* 추천서적 제목 */
.recommend-book-heading {
  font-size: 1.8rem;
  background-image: url("../css/images/sprite_main.png");
  background-repeat: no-repeat;
  padding-left: 65px;
  height: 60px;
  margin: 1em;
}
.recommend-book-heading .en-heading {
  display: block;
  color: #abd375;
  margin-top: 8px;
}
/* 추천서적 커버이미지 */
.recommend-book-cover {
  width: 15em;
  margin: 15px auto;
  text-align: center;
}
.recommend-book-cover img{
  max-width: 100%
}
figcaption{
  font-size: 16px;
}
/* 추천서적 저자 및 평점 */
.recommend-book-detail{
  text-align: center;
}
.recommend-book-author, .recommend-book-author-name{
  font-size: 16px;
  display: inline-block;
}
.recommend-book-grade{
  font-size: 2rem;
  margin: 1rem;
  color: #abd375;
}
.recommend-book-summary{
  font-size: 16px;
  line-height: 1.5;
  margin: 15px 0;
}
.news {
  grid-area: ns;
  background-color: tan;
  /* float: left; */
  /* width: 650px; */
}
.board {
  grid-area: bd;
  background-color: skyblue;
  /* float: left; */
  /* width: 350px; */
}
.favorite-site {
  grid-area: fs;
  background-color: orange;
  /* order: 1; */
  /* float: right; */
  /* width: 250px; */
}
.twitter {
  grid-area: tr;
  background-color: blueviolet;
  /* float: left; */
  /* width: 400px; */
}
/* 슬로건 */
.slogan {
  background-color: silver;
  height: 10vh;
  margin-top: 10px;
}
/* 푸터 */
.footer {
  background-color: skyblue;
  height: 10vh;
}
