@charset "utf-8";
@import url("./normalize.css");
@import url("./fonts.css");

/* 초기화 스타일 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
/* 블릭기호 삭제 */
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/* 숨김 콘텐츠 */
legend,
.a11y-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
/* 기본 스타일 */
body {
  background-color: #fff;
  color: #181818;
  font-family: "Noto Sans Regular", sans-serif;
}
/* 컨테이너 */
.container {
  height: 100vh;
  background-color: #fff;
}
/* 레이아웃 공통 */
.header,
.main,
.slogan {
  width: 1000px;
  margin: 0 auto;
}
/* 헤더 */
.header {
  background-color: #fff;
  padding: 0 0 10px 0;
  position: relative;
}
/* 로고 */
.logo {
  /* background-color: blue; */
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* 멤버 링크 */
.member {
  /* background-color: aqua; */
  text-align: right;
  font-size: 0;
  position: relative;
}
.member li {
  display: inline;
  font-size: 1rem;
  /* right: 10px; */
}
.member a:hover,.member a:focus{
  color: #FF005A;
}
/* .member li::before {
  content: "|";
} */
/* .member li:first-child::before {
  content: "";
} */
.member a {
  display: inline-block;
  padding: 10px;
}

/* 검색 폼 */
.search {
  /* background-color: aqua; */
  text-align: right;
  margin-top: 15px;
}
.search fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
input[type="search"] {
  height: 30px;
  width: 420px;
  padding: 1px 15px;
  border: 1px solid #666;
  border-radius: 5px;
}
.btn-search {
  height: 30px;
  width: 50px;
  padding: 5px;
  border: 1px solid #666;
  background-color: #988574;
  color: #fff;
  border-radius: 5px;
}
/* 네비 */
.navigation {
  border-top: 2px solid #181818;
  background-color: lime;
  height: 10vh;
}
/* 메인 콘텐츠 */
.main {
  background-color: pink;
  /* display: flex;
  flex-flow: row wrap;
  justify-content: space-between; */
}

.main section {
  height: 30vh;
}
.recommend-book {
  float: left;
  background-color: teal;
  width: 350px;
}
.news {
  float: left;
  width: 650px;
  background-color: tan;
}
.board {
  float: left;
  width: 350px;
  background-color: skyblue;
}
.favorite-site {
  /* order: 1; */
  float: right;
  width: 250px;
  background-color: orange;
}
.twitter {
  float: left;
  width: 400px;
  background-color: blueviolet;
}
/* 슬로건 */
.slogan {
  background-color: silver;
  height: 10vh;
  margin-top: 10px;
}
/* 푸터 */
.footer {
  background-color: skyblue;
  height: 10vh;
}
