@charset "utf-8";
@import url("normalize.css");
@import url("fonts.css");
/* 초기화 스타일 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
/* 숨김 콘텐츠 */
legend,
.a11y-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
/* ClearFix */
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

/* 기본 스타일 */
html {
  font-size: 10px;
}
body {
  background-color: #fff;
  color: #181818;
  font-size: 1.4rem;
  font-family: "Noto Sans Regular", sans-serif;
}
/* 그리드 토글 버튼 */
.btn-grid {
  position: fixed;
  top: 2em;
  right: 2em;
  background: #000;
  color: #fff;
  padding: 1em;
  border-radius: 5px;
}

/* 컨테이너 */
.container {
  position: relative;
}
.is-act::before {
  content: "";
  position: absolute;
  width: 1000px;
  height: 100%;
  background: repeating-linear-gradient(
    90deg,
    hsla(70, 90%, 60%, 0.4) 0px,
    hsla(70, 90%, 60%, 0.4) 65px,
    transparent 65px,
    transparent 85px
  );
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
}

/* 레이아웃 공통 */
.header,
.main,
.slogan {
  width: 1000px;
  margin: 0 auto;
}
/* 헤더 */
.header {
  background-color: #fff;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
  -ms-grid-rows: 50px 50px;
  grid-template-columns: repeat(12, 65px);
  grid-template-rows: 50px 50px;
  grid-column-gap: 20px;
}

/* 로고 */
.logo {
  margin: 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo a,
.logo img {
  display: block;
}
/* 멤버 링크 */
.member {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-column: 10 / span 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: flex-end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.member li::before {
  content: "";
}
.member li:first-child::before {
  content: "";
}
.member a {
  padding: 1em 0.8em;
}
/* 검색 폼 */
.search {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-column: 7 / span 6;
  grid-row: 2 / 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.search fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
input[type="search"] {
  height: 35px;
  width: 400px;
  padding: 2px 2px 2px 10px;
  border: 1px solid #666;
  border-radius: 5px;
  margin-right: 0.5em;
}
.btn-search {
  height: 35px;
  width: 50px;
  padding: 5px;
  color: #fff;
  border: 1px solid #666;
  background-color: #988574;
  border-radius: 5px;
}
/* 내비게이션 */
.navigation {
  padding-top: 0.5em;
  background-color: #988574;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.menu {
  width: 1000px;
  margin: 0 auto;
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
}
.menu span {
  display: block;
  cursor: pointer;
  font-size: 1.8rem;
  padding: 0.5em 0;
  font-family: "Noto Sans Bold", sans-serif;
  text-shadow: 0 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #000, -1px 0 0 #000;
  transition: all 1s ease;
}
.menu span:hover,
.menu li:focus span {
  color: #ff0;
}

.sub-menu {
  margin-top: 0.5em;
}
.sub-menu li {
  margin: 0.5em 0 0.5em 1em;
}
.sub-menu a {
  display: block;
  padding: 0.5em 0;
}
/* 메인 콘텐츠 */
.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65px 20px 65px 20px 65px 20px 65px 20px 65px 20px 65px 20px
    65px 20px 65px 20px 65px 20px 65px 20px 65px 20px 65px;
  -ms-grid-rows: auto auto;
  grid-template-columns: repeat(12, 65px);
  grid-column-gap: 20px;
  grid-template-rows: auto auto;
  grid-template-areas:
    "book  book  book  book  news    news    news    news    news    news news news"
    "board board board board twitter twitter twitter twitter twitter site site site";
}
/* .main section{
    height: 30vh;
} */
/* 메인 콘텐츠 섹션 제목 공통 */
.main-section-heading {
  background-image: url("images/sprite_main.png");
  background-repeat: no-repeat;
  margin: 1em 0;
  min-height: 60px;
  padding: 5px 0 0 65px;
}
.en-heading {
  display: block;
}
/* 메인 콘텐츠 단락 공통 */
.main [class$="-summary"] {
  line-height: 1.5;
  margin: 1em 0;
}
/* 메인 콘텐츠 섹션 제목 공통 */
/* 추천 서적 */
.recommend-book {
  grid-area: book;
  /* -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2; */
}
/* 추천서적 제목 */
.recommend-book-heading {
  background-position: 0 0;
}
.recommend-book-heading .en-heading {
  color: #abd375;
}
/* 추천서적 커버이미지 */
.recommend-book-cover {
  width: 75%;
  margin: 1em auto;
  text-align: center;
}
.recommend-book-cover img {
  max-width: 100%;
  height: auto;
}
/* 추천서적 저자 및 평점 */
.recommend-book-detail {
  text-align: center;
  margin: 1em 0;
}
.recommend-book-author,
.recommend-book-author-name {
  display: inline-block;
}
/* 추천서적 평점 */
.recommend-book-grade {
  color: #abd375;
  font-size: 2em;
}
/* 새소식 */
.news {
  grid-area: news;
  /* -ms-grid-column: 9;
    -ms-grid-column-span: 23;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2; */
}
/* 새소식 제목 */
.news-heading {
  background-position: 0 -230px;
}
.news-heading .en-heading {
  color: #e8ca58;
}
/* 새소식 동영상 */
.news-container {
  margin: 1em 0;
}
.news-video {
  max-width: 100%;
  height: auto;
}
/* 새소식 날짜 정보 */
.news-date {
  /* background: yellow; */
  display: block;
  text-align: right;
}
/* 게시판 */
.board {
  grid-area: board;
  position: relative;
  /* -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3; */
}
/* 게시판 제목 */
.board-heading {
  background-position: 0 -115px;
  margin-bottom: 0.5em;
}
.board-heading .en-heading {
  color: #c7b39a;
}
/* 게시판 목록 */
.board-list li {
  margin: 0.5em 0;
}
.board-list a,
.board-list time {
  vertical-align: middle;
}
.board-list a {
  display: inline-block;
  width: calc(100% - 100px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.5em 0;
}
.board-more {
  position: absolute;
  top: 1.5em;
  right: -0.5em;
  padding: 0.5em;
}
.board-more::before {
  color: #abd375;
}
.icon-star:before {
  content: "\e80e";
}
/* 인기 사이트 */
.favorite-site {
  /* background-color: orangered; */
  grid-area: site;
  /* -ms-grid-column: 9;
    -ms-grid-column-span: 18;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3; */
}
.favorite-heading {
  background-position: 0 -345px;
  margin-bottom: 0.5em;
}
.favorite-heading .en-heading {
  color: #eea60a;
}
.favorite-site-list {
  overflow: hidden;
  /* background-color: yellow; */
  list-style-type: none;
}
.favorite-site-list li {
  counter-increment: number;
  line-height: 1.5rem;
  /* background-color: blue; */
  margin: 1em 0;
}
.favorite-site-list li::before {
  content: counter(number, decimal);
  background-color: #eea60a;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  padding: 0 0.5em;
  margin-right: 0.5em;
}

/* 트위터 */
.twitter {
  /* background-color: blueviolet; */
  grid-area: twitter;
  /* font-size: 1.6rem; */
  /* -ms-grid-column: 20;
    -ms-grid-column-span: 23;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3; */
}
.twitter-heading {
  background-position: 0 -460px;
  margin-bottom: 0.5em;
}
.twitter-heading .en-heading {
  color: #6aaee6;
}
.twitter-user-info {
  /* background-color: yellow; */
  float: left;
  margin-bottom: 1em;
  width: calc(100% - 100px);
}
.twitter-user-name {
  /* background-color: red; */
  float: left;
}
.twitter-user-id {
  float: left;
  font-family: "Noto Sans Bold";
}

.twitter-profile {
  /* background-color: blue; */
  float: right;
  margin: -15px 0 1em 1em;
}
.twitter-thumbnail {
  border-radius: 50%;
  padding: 0.5em;
  border: 1px solid #000;
  width: 80px;
}
.twitter-thumbanil {
  /* background-color: pink; */
}
.twitter-summary {
  /* background-color: aqua; */
}
.twitter-date {
  display: block;
  text-align: right;
  clear: both;
  /* background-color: #6AAEE6; */
}
/* 슬로건 */
.slogan {
  /* background-color: silver; */
  clear: both;
  margin-top: 10px;
  position: relative;
  /* padding: 15px 0 15px 0px; */
}
/* 슬로건 제목 */
.slogan-heading {
  position: absolute;
  bottom: -35px;
  width: 110px;
  height: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slogan-heading::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../css/images/coffee.png");
  background-repeat: no-repeat;
}
.slogan-content {
  font-size: 1.6rem;
  margin: 1em 5em 1em 8em;
}
.slogan-content q::before {
  font-size: 5rem;
  position: relative;
  top: 2rem;
}

.slogan-content q::after {
  content: "";
}

/* 푸터 */
.footer {
  background-color: #988574;
  color: #fff;
  text-align: center;
  padding: 2em 0;
}
/* 주소 */
.address {
  font-style: normal;
  margin-bottom: 1em;
}
.copyright {
  font-size: 1em;
}
